:root{
    --main-color: #1f1f1f;
    --second-color: #333333;
    --third-color: #121212;
    --field-color: #e0e0e0;
}

.profile img{
    background-color: var(--field-color);
}

.boutton_recherche_acceuil {
    background-color: var(--field-color);
}