* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Entete {
    width: 100%;
    background: #0772A1;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

ul.Haut_Page {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    width: 100%;
}

li.active a {
    background: #05587C;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

li.inactive a {
    background: #0772A1;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;                                  
}

li.inactive a:hover {
    background: #4b98b8;
}

.logo_petit img{
    height: 50px;
    border-radius: 40px;
    padding-left: 0;
    margin-left: 10px;
}

.profile img{
    height: 50px;
    border-radius: 40px;
    padding-right: 0;
    margin-right: 10px;
}

h1.Titre {
    color :black;
    font-size: 5vw;
    text-align: center;
    padding: 25px;
}

body {
    background: #4b98b8;
}

p.a_propos {
    font-size: 2vw;
    text-align: justify;
    padding: 25px;
}

h2.sous_titre {
    font-size: 3vw;
    text-align: justify;
    padding: 25px;
}











legend{
    margin-left: 330px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    text-transform: uppercase;
}

.inscription{
    border: 5px solid #4D98B8;
    border-radius: 10px;
    padding: 30px;
}

.div_ins{
    display: inline-block;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    text-align: right;
}

.champ{
    width: 230px;
    height: 20px;
    margin: 10px;
}

.boutton_inscription{
    background-color: #4B98B8;
    padding: 15px 20px;
    border: none;
    margin: 30px 288px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #05587C;
}





