* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Entete {
    width: 100%;
    background: #0772A1;
    display: flex;
    justify-content: center;
    padding-bottom: 1vw;
    padding-top: 1vW;
}

ul.Haut_Page {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;.field_connexion {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    width: 100%;
}

li.active a {
    background: #05587C;
    border-radius: 15px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

li.inactive a {
    background: #0772A1;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;                                  
}

li.inactive a:hover {
    background: #4b98b8;
    border-radius: 15px;
}

.logo_petit img{
    height: 3vw;
    border-radius: 40px;
    padding-left: 0;
    margin-left: 10px;
    vertical-align: middle;
}

.legend_modif{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    text-decoration: underline;
    color: #0772A1;
    padding: 10px;
}

.profile img{
    height: 3vw;
    border-radius: 40px;
    padding-right: 0;
    margin-right: 10px;
}

.profile img:hover{
    background: lightgray;
}

h1.Titre {
    color :black;
    font-size: 5vw;
    text-align: center;
    padding: 25px;
    
}

.img_acceuil{
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

}

p.a_propos {
    font-size: 2vw;
    text-align: justify;
    padding: 25px;
}

h2.sous_titre {
    font-size: 3vw;
    text-align: justify;
    padding: 25px;
}

.photo_equipe {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.photo_equipe img {
    height: 150px;
    border-radius: 75px;
    padding: 10px;
    padding-bottom: none;
}

.co-fondateur {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    padding: 25px;
    padding-top: none;
}

/*Connexion.html*/
.h2_connexion{
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: #0772A1;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.field_connexion{
    width: 33%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid #4D98B8;
    border-radius: 10px;
    padding: 40px 100px;
}

.legend_connexion{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    text-decoration: underline;
    color: #0772A1;
    padding: 10px;
}

.form_connexion {
    text-align: center;
    margin: auto;
    font-family: Arial, sans-serif;
    margin-top: 2vw;
    margin-bottom: 2vw;
    }

.div_connexion {
    text-align: center;
    color: #05587C;
    font-size: 15px;
}

.champ_connexion {
    width: 410px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: -2px;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    background-color: #F7F7F7;
}

.champ_connexion:focus {
    border: 2px solid #4B98B8;
    outline: none;
}

.boutton_connexion {
    width: 410px;
    height: 45px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    background-color: #4B98B8;
    padding: 12px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.boutton_connexion:hover {
    background-color: #05587C;
}

.s_inscrire {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #05587C;
    text-align: center;
    margin-top: 20px;
}

.s_inscrire a{
    width: 150px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #05587C;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/*Inscription.html*/
.form_inscription {
    font-family: Arial, sans-serif;
}

.legend_inscription{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    text-decoration: underline;
    color: #0772A1;
    padding: 10px;
}

.field_inscription{
    width: 33%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid #4D98B8;
    border-radius: 10px;
    padding: 40px 100px;
}

.div_ins{
    text-align: left;
    color: #05587C;
    font-size: 15px;
}

.champ_inscription{
    width: 410px;
    height: 40px;
    margin-bottom: 20px;
    margin-left: -2px;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    background-color: #F7F7F7;
}
.champ_inscription:focus {
    border: 2px solid #4B98B8; 
    outline: none;
}

.saisie_obligatoire{
    font-family: Arial, sans-serif;
    margin-left: 290px;
    font-size: 14px;
    color: #05587C
}

.boutton_inscription{
    width: 410px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    background-color: #4B98B8;
    padding: 12px;
    border: none;
    font-size: 16px; 
    font-weight: bold;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #05587C;
}

.hr_inscription{
    height: 1px;
    border: none;
    background-color: #05587C;
    margin-top: 50px;
    margin-bottom: 30px; 
}

.deja_inscrit{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #0772A1;
    text-align: center;
    margin-bottom: 20px;
}

.deja_inscrit a{
    display: block;
    width: 150px;
    padding: 10px;
    margin: 20px auto;
    background-color: #05587C;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
}


.sejours{
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid #4D98B8;
    border-radius: 10px;
    padding: 40px 100px;
}


.filtre{
    margin-top: 10px; 
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
}

button:hover {
    background-color: #377a8c;
}

.div_filtre {
    margin-top: 10px;
}

.checkbox_options {
    display: flex;
    align-items: center;
    text-align: center;
}

img.modif {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

img.modif:hover {
    background: lightgray;
    border-radius: 1vw;
    
}

fieldset.modif_compte {
    width: 33%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid #4D98B8;
    border-radius: 10px;  
}

table.modif_compte {    
    border-collapse: collapse;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}