* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #0772A1;
    --second-color: #4D98B8;
    --field-color: #F7F7F7;
    --third-color: #05587C;
}


/* Entete de toute nos pages */
.Entete {
    width: 100%;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    padding: 1.5vmin 0;
}

ul.Haut_Page {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
    width: 100%;
}

li.active a,
li.inactive a {
    color: white;
    padding: 0 3vmin;
    text-decoration: none;
}

li.active a {
    background: var(--third-color);
    border-radius: 2vmin;
}

li.inactive a {
    background: var(--main-color);
}

li.inactive a:hover {
    background: var(--second-color);
    border-radius: 2vmin;
}

.logo_petit img,
.profile img {
    height: 3vmin;
    border-radius: 1.5vmin;
    margin: 0 1vmin;
    vertical-align: middle;
}

.profile img:hover,
.logo_petit img:hover {
    background: lightgray;
}

/* Fin entete pour nos pages */

/* Index.html */
.bande {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/Bande.jpg"); /*ajouter un effet fondu*/
    background-size: cover; 
    background-position: center; 
    padding: 10vmin; 
    text-align: center; 
    color: var(--field-color);
}

.h1_index{
    /*texte sur image de fond*/
    padding: 2.5vmin;
    font-size: 5vmin;
    margin-bottom: 2vmin;
}

h1.Titre {
    margin-top: 6vmin;
    color: var(--third-color);
    font-size: 5vmin;
    text-align: center;
}

.toutes_destinations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35vmin, 1fr));
    gap: 2vmin;
    padding: 2vmin;
    text-align: center;
    overflow: hidden;
}

.destination {
    background: var(--field-color);
    border-radius: 1vmin;
    box-shadow: 0 .5vmin 1vmin rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.destination:hover {
    transform: scale(1.1);
}

.destination img {
    width: 100%;
    height: 20vmin;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.destination p {
    font-size: 1.5vmin;
    color: var(--third-color);
    margin: 1vmin 0;
    font-weight: bold;
}

.recherche {
    display: flex;
    justify-content: center;
    width: 100%;
}

.recherche_txt {
    width: 30%;
    margin: auto 1vmin;
}


.boutton_recherche_acceuil {
    margin: 1vmin auto;
    text-align: center;
    border: none;
    border-radius: 1vmin;
    background: var(--second-color);
}

.recherche_img img {
    vertical-align: middle;
    margin: .5vmin;
    width: 2.35vmin;
}

/* Fin Index.html */

/* A_propos.html */
p.a_propos,
h2.sous_titre {
    font-size: 1.5vmin;
    text-align: justify;
    padding: 2vmin 5vmin;
}

h2.sous_titre {
    font-size: 3vmin;
}

.photo_equipe {
    display: flex;
    justify-content: center;
    padding: 2vmin;
}

.photo_equipe img {
    height: 15vmin;
    border-radius: 7.5vmin;
    padding: 2vmin;
}

.co-fondateur {
    font-size: 2vmin;
    font-style: italic;
    text-align: center;
    padding: 2.5vmin;
}

/* Fin A_propos.html */

/* Sejours.html */
.sejours {
    width: fit-content;
    margin: 10vmin auto;
    border: 2px solid var(--second-color);
    border-radius: 2vmin;
    padding: 4vmin 10vmin;
}

.filtre {
    margin-top: 2vmin;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 2vmin;
    font-weight: bold;
}

/* Fin Sejours.html */

/* Connexion.html */
.h2_connexion,
.h2_verification {
    font-family: Arial, sans-serif;
    font-size: 2.5vmin;
    color: var(--main-color);
    text-align: center;
    margin: 8vmin 0 3.5vmin;
}

.field_connexion {
    width: 25%;
    margin: 8vmin auto;
    border: 2px solid var(--second-color);
    border-radius: 2vmin;
    padding: 3.5vmin 8vmin;
}

.form_connexion,
.form_verification {
    text-align: center;
    margin: 2vmin auto;
    font-family: Arial, sans-serif;
}

.div_connexion,
.div_verification {
    text-align: center;
    color: var(--main-color);
    font-size: 1.5vmin;
}

.champ_connexion,
.champ_verification {
    width: 38vmin;
    height: 3vmin;
    margin-bottom: 2vmin;
    padding: 1vmin 1.5vmin;
    border-radius: 1vmin;
    background-color: var(--field-color);
}

.champ_connexion:focus {
    border: 2px solid var(--second-color);
    outline: none;
}

.boutton_connexion:hover {
    background-color: var(--third-color);
}

.s_inscrire {
    font-family: Arial, sans-serif;
    font-size: 1.5vmin;
    color: var(--third-color);
    text-align: center;
    margin-top: 2vmin;
}

.s_inscrire a {
    width: 15vmin;
    margin-left: .5vmin;
    text-decoration: none;
    font-size: 1.5vmin;
    color: var(--third-color);
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* Fin Connexion.html */

/* Inscription.html */
.form_inscription,
.form_profile {
    font-family: Arial, sans-serif;
}

.legend_inscription,
.legend_profile,
.legend_connexion,
.legend_verif_admin {
    text-align: center;
    font-weight: bold;
    font-size: 3vmin;
    text-decoration: underline;
    color: var(--main-color);
    padding: 2vmin;
}

.field_inscription,
.field_profile,
.field_connexion,
.field_verification {
    width: 25%;
    margin: 8vmin auto;
    border: 2px solid var(--second-color);
    border-radius: 2vmin;
    padding: 4vmin 10vmin;
}

.div_ins,
.div_profile {
    text-align: left;
    color: var(--third-color);
    font-size: 1.5vmin;
}

.champ_inscription {
    width: 38vmin;
    height: 4vmin;
    margin-bottom: 2vmin;
    padding: 1vmin 1.5vmin;
    border-radius: .5vmin;
    background-color: var(--field-color);
}

.champ_inscription:focus {
    border: 2px solid var(--second-color);
    outline: none;
}

.saisie_obligatoire {
    font-family: Arial, sans-serif;
    margin-left: 25vmin;
    font-size: 1.4vmin;
    color: var(--third-color);
}

.boutton_inscription,
.boutton_connexion,
.boutton_modif,
.boutton_verif,
.boutton_recherche {
    width: 38vmin;
    margin-top: 4vmin;
    text-align: center;
    background-color: var(--second-color);
    padding: 1.2vmin;
    border: none;
    font-size: 1.6vmin;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 1vmin;
}

button:hover {
    background-color: var(--third-color);
    scale: 1.05;
}

.hr_inscription {
    height: 1px;
    border: none;
    background-color: var(--third-color);
    margin: 5vmin 0 3vmin;
}

.deja_inscrit {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vmin;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 2vmin;
}

.deja_inscrit a {
    display: block;
    width: 12vmin;
    padding: 2vmin;
    margin: 2vmin auto;
    background-color: var(--third-color);
    border-radius: 1vmin;
    text-decoration: none;
    font-size: 1.4vmin;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* Fin Inscription.html */

input,
select {
    background: var(--field-color);
    width: 100%;
    padding: .75vmin;
    border: 1px solid var(--third-color);
    border-radius: .5vmin;
    font-size: 1.5vmin;
    margin-top: .5vmin;
    margin-bottom: .5vmin;
}

.div_filtre {
    margin-top: 2vmin;
}

.checkbox_options {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1vmin;
}

.checkbox_options p {
    font-size: 2vmin;
    padding: 1vmin;
}

img.modif {
    margin: 1.5vmin;
    width: 2vmin;
    height: 2vmin;
    cursor: pointer;
}

img.modif:hover {
    background: lightgray;
    border-radius: 1vmin;
}

fieldset.modif_compte {
    width: 25%;
    margin: 10vmin auto;
    border: 2px solid var(--second-color);
    border-radius: 2vmin;
}

table.modif_compte {
    border-collapse: collapse;
    margin: 2vmin auto;
}

.div_modif {
    display: flex;
}

.crayon {
    vertical-align: baseline;
}

.carte {
    width: 66%;
    height: 30vmin;
    border: none;
    border-radius: 2vmin;
}

iframe.carte {
    display: flex;
    margin: auto;
}

.table_admin{
    margin: auto;
    margin-top: 4vmin;
}